/* styles.css starts */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-block, .clickable-block {
  padding: 30px;
  background-color: #f5f5f5;
  width: 270px;
  text-align: center;

  h3 {
    margin-top: 0;
  }
}

.clickable-block {

  cursor: pointer;
  transition: box-shadow 250ms ease-out;

  a + a {
    display: inline-block;
    margin-left: 15px;
  }
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0,0,0,.25);
  }
}


/* styles.css ends */